# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import your libraries:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn import datasets

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [4]:
# Your code here:
diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [5]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [11]:
# Your code here:
diabetes.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [23]:
# Your code here:
diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [33]:
# Your code here:
from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [39]:
# Your code here:
df_d = pd.DataFrame(diabetes.data,columns=diabetes.feature_names)
df_t = pd.DataFrame(diabetes.target,columns=['Target'])
X = df_d
y = df_t

In the cell below, fit the model and print the intercept and coefficients of the model.

In [55]:
# Your code here:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
diabetes_model=LinearRegression()
diabetes_model.fit(X_train,y_train)

train_score = diabetes_model.score(X_train,y_train)
test_score = diabetes_model.score(X_test,y_test)

print(diabetes_model.coef_)
print(f'Valor R2: {train_score,test_score}')

from sklearn.metrics import mean_squared_error
predicted = diabetes_model.predict(X_test)
mean_squared_error(y_test,predicted)

[[ -20.84773414 -284.1742406   535.52416093  302.35444003 -933.28666672
   626.78465406  129.50524539  180.30632573  735.09555414  155.20959012]]
Valor R2: (0.5322165396334982, 0.441477687401141)

3378.47714241159

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [61]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [63]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [69]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 23.4+ KB

What is the newest model year and the oldest model year?

In [73]:
# Your code here:
print(f'El modelo más nuevo es {auto.model_year.max()} y el más viejo es {auto.model_year.min()}')

El modelo más nuevo es 82 y el más viejo es 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [75]:
# Your code here:
auto.isnull().sum(axis=0)
auto_clean = auto.dropna()
auto_clean

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [79]:
# Your code here:
print(f' Hay {auto_clean.cylinders.value_counts().count()} valores posibles para cilindros')

 Hay 5 valores posibles para cilindros

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [102]:
# Import the necessary function
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [204]:
# Your code here:
auto_drop = auto_clean.drop(columns=['car_name']).copy()
x_columns = [col for col in auto_drop.columns.values if col != 'mpg']
auto_x = auto_drop[x_columns]
auto_y = auto_drop['mpg']
X_train, X_test,y_train,y_test = train_test_split(auto_x,auto_y,test_size=0.2)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [214]:
# Your code here:
auto_model = LinearRegression()

Next, fit the model in the cell below.

In [215]:
# Your code here:
fit = auto_model.fit(X_train,y_train)

train_score = fit.score(X_train,y_train)
test_score=fit.score(X_test,y_test)

print(fit.coef_)
print(f'Valor R2: {train_score,test_score}')

[-0.43985799  0.00841013 -0.01581795 -0.00609482  0.00426462  0.76328848]
Valor R2: (0.8146733786564879, 0.7822084618813818)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [210]:
# Import the necessary function:
from sklearn.metrics import mean_squared_error

In [216]:
# Your code here:
y_pred = fit.predict(X_test)
r2 = mean_squared_error(y_test,y_pred)
r2

13.177957718631864

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [217]:
# Your code here:
y_test_pred = fit.predict(X_train)
mean_squared_error(y_train,y_test_pred)

11.264832220007522

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [177]:
# Your code here:
X_train09, X_test09,y_train09,y_test09 = train_test_split(auto_x,auto_y,test_size=0.9)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [178]:
# Your code here:
auto_model09 = LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [179]:
# Your code here:
fit09 = auto_model.fit(X_train09,y_train09)
y_pred09 = fit09.predict(X_test09)
r209=mean_squared_error(y_test09,y_pred09)
r209

14.170474473484889

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [181]:
# Your code here:
print(f'El r2 de primer ejercicio con split del 20% es {r2} mientras que el nuevo con un split del 90% es {r209}')
print('No hubo una menora en la r2')

El r2 de primer ejercicio con split del 20% es 10.665085082393286 mientras que el nuevo con un split del 90% es 14.170474473484889
No hubo una menora en la r2

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [182]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [183]:
# Your code here:
selector = RFE(auto_model, n_features_to_select=3)

Fit the model and print the ranking

In [187]:
# Your code here:
selector.fit(X_train,y_train)
selector.ranking_

array([1, 3, 2, 4, 1, 1])

In [188]:
auto_x

     cylinders  displacement  horse_power  weight  acceleration  model_year
0            8         307.0        130.0    3504          12.0          70
1            8         350.0        165.0    3693          11.5          70
2            8         318.0        150.0    3436          11.0          70
3            8         304.0        150.0    3433          12.0          70
4            8         302.0        140.0    3449          10.5          70
..         ...           ...          ...     ...           ...         ...
393          4         140.0         86.0    2790          15.6          82
394          4          97.0         52.0    2130          24.6          82
395          4         135.0         84.0    2295          11.6          82
396          4         120.0         79.0    2625          18.6          82
397          4         119.0         82.0    2720          19.4          82

[392 rows x 6 columns]

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [191]:
# Your code here:
auto_x_red = auto_drop[['cylinders','acceleration','model_year']]
X_train_reduced, X_test_reduced,y_train_reduced,y_test_reduced = train_test_split(auto_x_red,auto_y,test_size=0.8)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [202]:
# Your code here: 
auto_model_reduced=LinearRegression()

In [218]:
fit_reduced = auto_model_reduced.fit(X_train_reduced,y_train_reduced)
y_pred_reduced = fit_reduced.predict(X_test_reduced)
r2_reduced=mean_squared_error(y_test_reduced,y_pred_reduced)
print(f'El r cuadrado ha seguido aumentando, por lo que no generó una mejora al modelo, el resultado del r cuadrado fue: {r2_reduced}')

El r cuadrado ha seguido aumentando, por lo que no generó una mejora al modelo, el resultado del r cuadrado fue: 18.646085027113948